//-- Variables --//

// Blues
$lightblue: #45C8DC;
$darkblue:  #3EB4C6;

// Grays
$lightergray: #F7F8F8;
$lightgray:   #F1F2F2;
$midgray:     #EFF0F0;
$darkgray:    #262A33;
$darkergray:  #1D2027;

$bordergray: darken($midgray, 10%);


//-- Classes --//

.fullWidth {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

.noPad { padding: 0; }


//-- Avatars --//

img {
	width: 40px;
	height: 40px;

	&.brad     { background: url(../img/avatars.jpg) 0 0; }
	&.jeremy   { background: url(../img/avatars.jpg) 0 -80px; }	
	&.jack     { background: url(../img/avatars.jpg) -80px -40px; }
	&.george   { background: url(../img/avatars.jpg) -320px -40px; }
	&.anthony  { background: url(../img/avatars.jpg) -40px 0; }
	&.jane     { background: url(../img/avatars.jpg) -240px -120px; }
	&.anna     { background: url(../img/avatars.jpg) 0px -40px; }
	&.michelle { background: url(../img/avatars.jpg) -120px -120px; }
	&.safira   { background: url(../img/avatars.jpg) -520px -160px; }
	&.sarah    { background: url(../img/avatars.jpg) -440px -120px; }
}


//-- General styles --//

body,
h1, h4, h5, h6,
p, span, textarea, input[type=text] {
	color: #999;
}

h2, h3, button { color: #555; }

i { opacity: .5; }

a {
    color: inherit;
    &:hover { color: #555; }
}

textarea, input[type=text] { 
	font-size: 1em; 
}


//-- Main Content Area --//

// Padding

#side-menu {
	padding: 30px 25px;
}

#controls {
	h2      { padding: 30px 25px; }
	#search { padding: 15px 25px; }

	#items-list li { padding: 10px 25px; }
}

#details {
	article { padding: 30px 25px 0; }
	#reply  { padding: 0 25px 60px; }
}


// Section Colours

#side-menu {
	background-color: $darkgray;
}

#controls {
	background-color: $midgray;
	border-right: 1px solid $bordergray;

	#items-list { 
		background-color: $lightergray; 
		
		li + li { border-top: 1px solid $bordergray; }
	}
}

#details {
	background-color: $lightergray;

	#reply { background-color: $lightgray; }
}