
@media screen and (max-width: 1250px) {
	#controls {
		h2 {
			text-align: center;
			font-size: 1.3em;
		}
	}

	#details {
		h3 {
			font-size: 1.2em;
		}

		#user-info {
			h4 {
				font-size: 1em;
			}
			#date {
				font-size: 0.9em;
			}
		}
	}
}

@media screen and (max-width: 1025px) {
	#top-header #top-toolbar ul { border-left: 0; }

	#controls #items-list {
		max-height: 200px;
		overflow-y: auto;
		background-color: #fff;
	}

	#details { border-top: 2px solid $darkblue; }

	#reply {
		#answering, #forward {
			text-align: center;
		}
	}
}

@media screen and (max-width: 641px) {
	p, textarea, span, button, input[type=text] { 
		font-size: 0.9em !important; 
	}

}