
@media screen and (max-width: 1250px) {
	#middle {
		h2 {
			text-align: center;
			font-size: 1.3em;
		}
	}

	#details {
		h3 { font-size: 1.2em; }

		#user-info {
			h4 { font-size: 1em; }
			
			#date { font-size: 0.9em; }
		}
	}
}

@media screen and (max-width: 1024px) {
	#top-header #top-toolbar ul { border-left: 0; }

	#middle {
		h2 { padding: 15px 25px; } 

		#items-list {
			max-height: 273px;	// 3 list items tall (71px * 3)
			overflow-y: auto;
			background-color: #fff;
		}
	}

	#details { border-top: 3px solid $darkblue; }

	#reply {
		#answering, #forward { text-align: center; }
	}

	#side-menu {
		.sub-items li {
			margin-left: 1px;
			margin-right: 1px;
		}

		#email > a:first-child:before {
			@include triangle-left(0, none, none);
		}

		#my-account { margin-top: 20px; }
	}
}

@media screen and (max-width: 641px) {
	p, h6, textarea, span, button, input[type=text] { 
		font-size: 0.9em !important; 
	}

	#side-menu {
		padding-bottom: 0;

		li { padding-bottom: 10px; }

		.sub-items li {
			text-align: center;
			
			a { padding: 7px 3px; }
		}

		#email {
			#compose-new { 
				padding: 7px 3px; 
				font-size: 0.8em !important;
			}
		}
	}
}