#middle {
	h2 { font-size: 1.5em; }

	#search {
		border-top: 1px solid $bordergray;
		border-bottom: 1px solid $bordergray;

		i {
			margin-right: 15px;
			vertical-align: middle;
			font-size: 1.1em;
		}

		// Search Input Field
		#search-input {
			display: inline-block;
			width: 84%;
			padding-left: 0;
			padding-right: 0;
			box-shadow: none;
			border: 0;
			font-weight: bold;
			letter-spacing: 0.07em;
			border-bottom: 2px solid $bordergray;
			background-color: transparent;
		}
	}

	#items-list li {
		input[type=checkbox] { margin-right: 5px; }
			
		h5, h6 { display: inline-block; }

		h5 { font-weight: bold; }

		time { margin-top: 3.2px; }

		i {
			margin-right: 5px;
			font-size: 0.9em;
		}

		span { font-style: italic; }
	}
}