#side-menu {
	i {
		opacity: 0.2;
	}

	// First-Level List Items
	li {
		padding: 25px 0;
		text-align: center;

		p { margin: 0; }

		& + li { margin-top: 2px; }

		&:hover { background-color: $darkergray; }
	}

	#email { 
		position: relative;

		// The Email Item is Selected
		background-color: $darkergray;

		// CSS Triangle
		& > a:first-child:before {
			z-index: 100;
			position: absolute;
			top: 7%;
			right: 0;
			@include triangle-left(15px, $midgray, none);
		}

		#compose-new {
			width: 100%;
			margin-top: 20px;
			padding: 10px 5px;
			color: #fff;
			background-color: $lightblue;

			&:hover { 
				color: $midgray;
				background-color: $darkblue; 
			}
		}
		
		#inbox-count {
			margin-right: 5px;
			padding: 2px 5px;
			font-size: 0.9em;
			font-weight: bold;
			color: #fff;
			background-color: $lightblue;
			@include border-radius(3px);
		}
	}

	// Second-Level List Items (sub-items)
	.sub-items {
		margin-left: 0;
		background-color: $darkergray;

		li {
			padding: 0;
			text-align: left;

			a {
				padding: 10px 25px;
				display: block;

				&:hover {
					color: $midgray;
					background-color: $darkgray;
				}
			}
		}
	}

	// My Account Link
	#my-account {
		width: 100%;
		margin-top: 170px;
		padding: 10px;
		background: transparent;
		color: lighten($darkgray, 20%);
		border: 2px solid lighten($darkgray, 10%);

		&:hover {
			color: $midgray;
		}
	}
}